.row
  aside.col-md-4
    section.user_info
      = render "shared/user_info"
    section.stats
      = render "shared/stats"
    section.micropost_form
      = render "shared/micropost_form"
  .col-md-8
    h3 Micropost Feed
    = render "shared/feed"
    