.center.jumbotron
	h1 Welcome to the Sample App

	/ 複数行に跨る場合、パイプは使わなくていい
	/ タグの要素と文字列の判別は先頭にシングルコーテーションを入れれば良い
	/ 文字列だけの場合は、パイプを入れる
	h2
			'This is the home page for the	
			a href='https://railstutorial.jp/' Ruby on Rails Tutorial	
			'sample application.

	= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"

= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/"