- provide(:title, "Help")
h1 Help
p 
	'Get help on the Ruby on Rails Tutorial at the
	a href="https://railstutorial.jp.help" Rails Tutorial help
	'To get help on this sample app, see the
	a href="https://railstutorial.jp/#ebook" 
	  em Ruby on Rails Tutorial 
	  ' book
	'.