- @user ||= current_user
.stats
  a href="#{following_user_path(@user)}"
  	/strong#following
  	strong#following.stat
    	= @user.following.count
  	'following
  a href="#{followers_user_path(@user)}"
    /strong#followers
    strong#followers.stat
      = @user.followers.count
    'followers