footer.footer
  samll
    'The <a href="https://railstutoliar.jp/">Ruby on Rails Tutorial</a>
    'by <a href="http://www.michaelhartl.com/">Micheal Hartl</a>
  nav
    ul
      li #{link_to "About", about_path}
      li #{link_to "Contact", contact_path}
      li <a href="http://news.railstutoliar.org/"></a>